header {
    text-align: center;
    background-image: url(https://www.healthcareitnews.com/sites/hitn/files/doctor-patient-712_1_0.jpg)
}

body {
    background-color: #9ee0cc;
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 25px;
}

nav li {
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    margin: 50px auto;
}

input[type=text], input[type=email] {
    width: 200px;
}
table {
    width: 50%;
}
th,td {
    text-align: left;
}