* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
}

header {
    height: 40px;
}

header > h1 {
    text-align: center;
    color:  #4b9193;
}

body {
    background-color: white;
    color: black;
    font-family: Helvetica, Ariel, sans-serif;
}

.topnav {
    height: 400px;
    background-image: 
    url(https://www.healthcareitnews.com/sites/hitn/files/doctor-patient-712_1_0.jpg), 
    url(https://labblog.uofmhealth.org/sites/lab/files/2020-03/patient_talking_to_physician_in_doctor_office.jpg);
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: auto, auto;
}

a:visited, a:link {
    color: #4b9193;
}

a:hover {
    color: #ef7c10;
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 25px;
    color: #4b9193;
    background-color: #a3e4d7 ;
    height: 60px;
    border-bottom: solid black;
}

nav li {
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    margin: 15px 25px 35px;
}

@media screen (max-width: 950px) {
    nav li {
        width: 65%;
        height: 950px;
        margin: 0 auto;
        padding: 0 10px;
    }
}

@media (min-width: 900px) {
    .services-layout {
        display: flex;
        justify-content: space-between;
    }
}

section {
    margin-left: 1.5%;
}

h2 {
    margin-top: 28px;
    margin-bottom: 15px;
}

h4 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 ~ p {
    width: 300px;
}

#book {
    margin-left: 44%;
    padding: 5px;
    font-size: 22px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: beige;
    border: double;
    text-transform: uppercase;
}

span {
    font-size: 1rem;
    font-weight: 500;
    font-family: Cambria;
    font-weight: 1000;
    vertical-align: 1px;
}

.services-layout {
    max-width: 1300px;
    margin: 40px auto 0 auto;
}

.services {
    padding: 1rem;
    text-align: justify;
    box-sizing: border-box;
    flex-basis: 30%;
}

img {
    height: 200px;
    width: 300px;
}

input[type=text], input[type=email] {
    width: 207px;
}

input[type=submit] {
    padding: 8px 1rem 8px;
    background-color: beige;
    color: #4b9193;
    font-size: 1rem;
    font-weight: 900;
}

table {
    width: 50%;
}
th,td {
    text-align: left;
}

footer {
    background-color: #a3e4d7;
    width: 100%;
    position: fixed;
    padding-top: 4px;
    bottom: 0;
    z-index: 2;
    text-align: center;
    border-top: solid;
}

footer > a {
    padding: 0 20px;
}

.lastbottom {
    margin-bottom: 47px;
}

.webdev {
    margin:auto;
    text-align: right;
    color: white;
}

#ty_doctor {
    margin-left: 40%;
    margin-top: 20px;
    height: 350px;
    width: 350px;
}

.thankyou {
    margin-top: 2rem;
}